.prose {
  img {
    @apply rounded-sm w-auto max-h-96 max-w-96 mx-auto;
  }

  figcaption {
    @apply text-center;
  }

  /* Not working under TW 4 */
  /* .header-anchor {
    @apply no-underline hover:underline decoration-dashed decoration-gray-400;

    @apply after:content-['#'] after:hidden after:hover:inline-block after:no-underline after:ms-2 after:opacity-50
  } */

  a[rel~='external'] {
    /* Preventing word breaking between text node and ::after */
    /* inline block appears to be much better vs inline on the containing node, which fixes 90% of cases */
    /* The last 10% text-wrap: balance seems to handle (breaking is more likely in the middle of a long text node, vs being greedy) */
    /* Support for balance is iffy, but it's only handling the last 10% of cases, and is strictly not needed. */
    @apply inline-block;
    text-wrap: balance;
    &::after {
      content: '';
      mask: url('data-url:../assets/external-icon.svg') center/contain no-repeat;
      @apply bg-black dark:bg-white h-4 w-4 inline-block ms-[4px] relative top-[2px];
    }
  }
}
