---
permalink: '/atom-posts.xml'
eleventyExcludeFromCollections: true
layout: null
# This doesn't work since images are rewritten later.
#     <content xml:lang="en" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.baseUrl }}{{ permalink }}">
  <title>{{ site.name }}</title>
  <link href="{{ site.baseUrl }}{{ permalink }}" rel="self" />
  <link href="{{ site.baseUrl }}/" />
  {% if collections.posts | length -%}
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {%- endif %}
  <id>{{ site.baseUrl }}</id>
  <author>
    <name>Mark</name>
    <email>m@silvenga.com</email>
  </author>
  {%- for post in collections.posts | reverse %} {%- set absolutePostUrl = post.url | absoluteUrl(site.baseUrl) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <link href="{{ absolutePostUrl }}" rel="alternate" type="text/html" />
  </entry>
  {%- endfor %}
</feed>
