@{
    <!--TODO - Move to nav-->
    var navLinks = new []
    {
        new {
            Link = "/",
            Label = "Browse Posts"
        },
        new {
            Link = "/projects",
            Label = "My Projects"
        },
        new {
            Link = "/about",
            Label = "About Me"
        }
    };
}

@foreach(var link in navLinks)
{
    <a class="h3" href="@link.Link">
        @link.Label
    </a>
}