@mixin link() {
    a {
        color: $link-color;
        text-decoration: none !important;
        transition: color .2s ease-in;
        transition: box-shadow .2s ease-in;
        &:hover {
            color: $link-hover-color !important;
            box-shadow: 0 -1px 0 0 $white inset, 0 -2px 0 0 $link-hover-color inset;
        }
    }
}