@{
    Layout = "/theme/_Layout.cshtml";
}

<div class="index">
    <div class=" main-container">
        <div class="index-container flow">
            @foreach(var doc in Documents[PipelineKeys.RenderPosts])
            {
                <a href="@Context.GetLink(doc)">
                    <section class="hover-parrent sliders">
                        <div class="post parent-table index-element">
                            <h4 class="left-cell">
                                @doc.String(MetaKeys.Title)
                            </h4>
                            <h4 class="right-cell righted index-date">
                                @(doc.Get<DateTime>(DocumentKeys.Published).ToString("MMM d, yyyy"))
                            </h4>
                        </div>
                    </section>
                </a>
            }
        </div>
    </div>
</div>