.s-content {
    font-size: 1.15rem;
    line-height: 1.6;
    $border-color: darken($color: $gray-100, $amount: 10%);
    $content-margin-top: 0.5rem;
    $content-margin-bottom: 1rem + $content-margin-top;
    .s-title {
        max-width: 780px;
        width: 100%;
    }
    .s-article {
        &>* {
            width: 100%;
            max-width: 780px;
        }
        .img-container-outer {
            margin-top: $content-margin-top;
            margin-bottom: $content-margin-bottom;
            .img-container {
                position: relative;
                height: 0;
                &>.img-container-inner {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                }
            }
        }
        img {
            display: block;
            margin: 0 auto;
            padding: 0.5rem;
            background-color: $gray-100;
            border-radius: 0.15rem;
            border-color: $border-color;
            border-width: 1px;
            border-style: solid;
        }
        figure {
            margin-top: $content-margin-top;
            margin-bottom: $content-margin-bottom;
            .figure-caption {
                color: inherit;
                padding: 0.5rem 1rem;
                padding-top: 8px;
                background-color: $gray-100;
                border-radius: 0.15rem;
                border-color: $border-color;
                border-width: 1px;
                border-style: solid;
                border-top-width: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            p {
                margin-bottom: 0;
            }
            p>img {
                border-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            div>img {
                padding-bottom: 7px;
            }
            pre,
            blockquote {
                margin-top: 0;
                margin-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            .img-container-outer {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        blockquote {
            margin-bottom: $content-margin-bottom;
            background-color: $gray-100;
            border-bottom-left-radius: 0.15rem;
            border-bottom-right-radius: 0.15rem;
            border-color: $border-color;
            border-style: solid;
            border-width: 1px;
            padding: 1rem;
            p {
                margin-bottom: 0;
            }
        }
        .s-gist {
            width: 100%;
        }
        .code-header {
            margin-top: $content-margin-top;
            font-size: 0.9rem;
            background-color: darken($color: $gray-100, $amount: 2%);
            border-top-left-radius: 0.15rem;
            border-top-right-radius: 0.15rem;
            border-color: $border-color;
            border-style: solid;
            border-width: 1px;
            border-bottom: 0;
            display: flex;
            .language {
                padding-left: 1rem;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
                border-right: 1px $border-color solid;
                flex-grow: 1;
            }
            .copy {
                padding-right: 0.8rem;
                padding-left: 0.8rem;
                background: transparent;
                border: 0 solid;
                cursor: pointer;
                display: flex;
                align-items: center;
                line-height: normal;
                &:hover {
                    background-color: darken($color: $gray-100, $amount: 5%);
                }
                &:focus {
                    outline: 5px auto -webkit-focus-ring-color;
                }
                .copy-icon {
                    background-image: url(./../../assets/copy.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 11px;
                    height: 14px;
                    margin-right: 5px;
                    opacity: 0.40;
                }
            }
            &.lang-output {
                margin-top: -1rem;
            }
        }
        pre {
            margin-bottom: $content-margin-bottom;
            background-color: $gray-100;
            border-bottom-left-radius: 0.15rem;
            border-bottom-right-radius: 0.15rem;
            border-color: $border-color;
            border-style: solid;
            border-width: 1px;
            padding: 1rem;
            code {
                color: inherit;
            }
        }
    }
    @include link();
}