.s-content {
    $border-color: darken($color: $gray-100, $amount: 10%);
    .s-title {
        max-width: 780px;
        width: 100%;
    }
    .s-article {
        font-size: 1.15rem;
        line-height: 1.6;
        &>* {
            width: 100%;
            max-width: 780px;
        }
        img {
            display: block;
            margin: 0 auto;
            padding: 0.5rem;
            background-color: $gray-100;
            border-radius: 0.15rem;
            border-color: $border-color;
            border-width: 1px;
            border-style: solid;
        }
        blockquote {
            background: $gray-100;
            border-left: 5px solid $border-color;
            margin: 1.5rem 0.5rem;
            padding: 0.5rem;
        }
        blockquote p {
            display: inline;
        }
        .s-gist {
            width: 100%;
        }
        figure {
            .figure-caption {
                color: inherit;
                padding: 0.5rem;
                padding-top: 8px;
                background-color: $gray-100;
                border-radius: 0.15rem;
                border-color: $border-color;
                border-width: 1px;
                border-style: solid;
                border-top-width: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            p {
                margin-bottom: 0;
            }
            p>img {
                border-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            div>img {
                padding-bottom: 7px;
            }
            pre {
                margin-bottom: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
    pre {
        background-color: $gray-100;
        border-bottom-left-radius: 0.15rem;
        border-bottom-right-radius: 0.15rem;
        border-color: $border-color;
        border-style: solid;
        border-width: 1px;
        padding: 1rem;
        code {
            color: inherit;
        }
    }
    .code-header {
        font-size: 0.9rem;
        background-color: darken($color: $gray-100, $amount: 2%);
        border-top-left-radius: 0.15rem;
        border-top-right-radius: 0.15rem;
        border-color: $border-color;
        border-style: solid;
        border-width: 1px;
        border-bottom: 0;
        display: flex;
        .language {
            padding-left: 1rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            border-right: 1px $border-color solid;
            flex-grow: 1;
        }
        .copy {
            padding-right: 1rem;
            padding-left: 1rem;
            background: transparent;
            border: 0 solid;
            cursor: pointer;
            display: flex;
            align-items: center;
            line-height: normal;
            &:hover {
                background-color: darken($color: $gray-100, $amount: 5%);
            }
            &:focus {
                outline: 5px auto -webkit-focus-ring-color;
            }
        }
    }
    @include link();
}