.s-nav {
    font-size: 1.5em;
    .s-nav-left {
        justify-content: center;
        @include media-breakpoint-up(sm) {
            justify-content: flex-start;
        }
    }
    .s-nav-right {
        justify-content: center;
        @include media-breakpoint-up(sm) {
            justify-content: flex-end;
        }
        @include link();
    }
    &#loading-bar::after {
        content: " ";
        border-style: solid;
        border-color: #868e96;
        border-width: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        transition: width 1s;
    }
    .logo {
        height: 30px;
        width: 30px;
        background: url('../../assets/logo.svg') no-repeat;
        display: inline-flex;
        padding-bottom: 6px;
        filter: opacity(50%)
    }
    .github {
        height: 30px;
        width: 30px;
        background: url('../../assets/github.svg') no-repeat;
        display: inline-flex;
        padding-bottom: 6px;
    }
}