---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<!-- Generated on {% nowRfc822 %} -->
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
    {%- if not item.data.noIndex == true %}
      <url>
        <loc>{{ site.baseUrl }}{{ item.url | url }}</loc>
        <lastmod>{{ item.data.updated | dateToIso }}</lastmod>
      </url>
    {%- endif -%}
  {%- endfor %}
</urlset>
