@import "npm:@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply underline;
    @apply font-medium;
  }

  .link-hover {
    @apply no-underline;
    @apply hover:underline;
  }
}

.avatar {
  background: url("data-url:./assets/avatar.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.github-icon {
  background: url("data-url:./assets/github-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.mastodon-icon {
  background: url("data-url:./assets/mastodon-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.rss-icon {
  background: url("data-url:./assets/rss-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-icon {
  background: url("data-url:./assets/blog-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
