@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: optional;
  font-weight: 100 900;
  src: url(npm:@fontsource-variable/inter/files/inter-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply underline;
    @apply font-medium;
  }

  .link-hover {
    @apply no-underline;
    @apply hover:underline;
  }

  html {
    @apply bg-white dark:bg-gray-900;
    @apply text-black dark:text-white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .avatar {
    background: url("data-url:./assets/avatar.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .github-icon {
    mask: url("data-url:./assets/github-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .mastodon-icon {
    mask: url("data-url:./assets/mastodon-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .rss-icon {
    mask: url("data-url:./assets/rss-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .blog-icon {
    mask: url("data-url:./assets/blog-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .link-icon {
    mask: url("data-url:./assets/link-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .printables-icon {
    mask: url("data-url:./assets/printables-icon.svg") center/contain no-repeat;
    @apply bg-white dark:bg-white;
  }

  .heart-icon {
    mask: url("data-url:./assets/heart-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .printer-icon {
    mask: url("data-url:./assets/printer-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .model-icon {
    mask: url("data-url:./assets/model-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .prose img {
    @apply rounded;
    @apply w-auto max-h-96 max-w-96 mx-auto;
  }

  .header-anchor {
    @apply no-underline hover:underline;

    &::after {
      content: "#";
      @apply hidden hover:inline-block no-underline ms-2 opacity-50;
    }
  }
}

/* Lightbox Styles */
img.lightbox-subject {
  @apply transition-all relative cursor-pointer;

  &.open {
    @apply cursor-zoom-out rounded-none drop-shadow;
  }
}
.lightbox-backdrop {
  @apply fixed top-0 bottom-0 left-0 right-0 pointer-events-none backdrop-blur bg-white/40 opacity-0 transition-all;

  &.open {
    @apply pointer-events-auto cursor-zoom-out opacity-100;
  }
}
