@import "npm:@fontsource-variable/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply underline;
    @apply font-medium;
  }

  .link-hover {
    @apply no-underline;
    @apply hover:underline;
  }

  html {
    @apply bg-white dark:bg-gray-900;
    @apply text-black dark:text-white;
  }
}

@layer components {
  .avatar {
    background: url("data-url:./assets/avatar.webp");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .github-icon {
    mask: url("data-url:./assets/github-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .mastodon-icon {
    mask: url("data-url:./assets/mastodon-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .rss-icon {
    mask: url("data-url:./assets/rss-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .blog-icon {
    mask: url("data-url:./assets/blog-icon.svg") center/contain no-repeat;
    @apply bg-black dark:bg-white;
  }

  .prose img {
    @apply rounded-lg overflow-hidden;
  }
}
